*{
    margin: 0;
    padding: 0;
    
}


nav{
    display: flex;
    width: 50%;
    margin: auto 200px;   
    padding-left: 600px;
    font-size: 18px; 
}

a{
    padding: 22px;
    padding-right: 60px;
}

.top{
    padding-left: 50px;
    margin-left: 100px;


}